go 1.23.0

use (
	./third_party/go-kit
	./shared
	./services/admin-service
	./services/camera-service
	./services/dashboard-service
	./services/identity-service
	./services/mobile-service
	./services/notification-service
	./services/platformuser-service
	./services/reports-service
	./services/rule-service
	./services/zone-service
)
